<h1>Financial Exchange Dashboard</h1>
<p>This is a dashboard representing your financial exchanges.</p>

<%= link_to 'All Exchanges', exchanges_path %>
<%= link_to 'New Exchange', new_exchange_path %>
